<footer class="footer">
    <div class="footer-content">

        <p class="footer-heading">
            <span> Want to get in touch? Contact me on any of the platforms.</span>
        </p>

        <div class="footer-links">
            <!-- <a href="mailto:srinivashundew@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope"></i> Contact
            </a>

            <span class="dot">•</span> -->

            <a href="https://www.linkedin.com/in/srinivas-h-a58056328" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a>

            <span class="dot">•</span>

            <a href="https://github.com/hsrinivas20202" target="_blank">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
        </div>

        <div class="footer-credit">
            Coded with ❤️ by <span>Srinivas</span>
        </div>

    </div>
</footer>