.portfolio {
    h2 {
        margin: 0 0 0.5rem 0;
        color: #1f2d3d;
    }

    p {
        margin: 0 0 1rem 0;
        color: rgba(0, 0, 0, 0.7);
    }

    ul {
        padding-left: 1.25rem;
    }
}